# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/??_generated/
android/app/src/main/assets/flutter_assets/
android/app/src/main/res/drawable/flutter_assets/

# Android Studio
.idea/
.gradle/
*.iml
local.properties

# Secrets
google-services.json
GoogleService-Info.plist
.env
*.jks
*.keystore
*.key
